<div id="background-overlay">
    <div class="input-container mb-3">
        <h1 class="text-center p-3">Books</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="bookTitle" maxlength="40" placeholder="Title">
            <label for="bookTitle">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="bookReleaseDate" placeholder="Release date">
            <label for="bookReleaseDate">Release date</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="bookISBN" maxlength="17" placeholder="ISBN">
            <label for="bookISBN">ISBN</label>
        </div>

        <button class="btn btn-primary mb-3" onclick="AddBook()">Add new book</button>
        <button class="btn btn-secondary mb-3" onclick="Render('selection')">Back to main page</button>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="filter" oninput="FilterBooks()" placeholder="Search..">
            <label for="filter">Search..</label>
        </div>

        <p id="totalBooksLabel">Total: 0 book(s).</p>
    </div>

    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th class="text-center">Release date</th>
            <th class="text-center">ISBN</th>
            <th class="text-end">Operations</th>
        </thead>

        <tbody id="booksTableBody">
        </tbody>

        <tfoot>

        </tfoot>
    </table>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookModalLabel">Editing (Book's title)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="bookModalTitle" maxlength="40" placeholder="Title">
                    <label for="bookModalTitle">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="bookModalReleaseDate" placeholder="Release date">
                    <label for="bookModalReleaseDate">Release date</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="bookModalISBN" maxlength="17" placeholder="ISBN">
                    <label for="bookModalISBN">ISBN</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="bookModalSaveBTN" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>