<div id="selection-background-overlay">
    <div id="card-container">
        <div class="card" onclick="Render('books')">
            <div class="card-icon"><img src="./Assets/img/book-icon.png"></div>

            <div class="card-content">
                Manage books!
            </div>
        </div>

        <div class="card" onclick="Render('authors')">
            <div class="card-icon"><img src="./Assets/img/authors-icon.png"></div>

            <div class="card-content">
                Manage authors!
            </div>
        </div>

        <div class="card" onclick="Render('connect')">
            <div class="card-icon"><img src="./Assets/img/authorBookConnection-icon.png"></div>

            <div class="card-content">
                Assign authors to books!
            </div>
        </div>
    </div>
</div>